::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: josef;
    src: url(../fonts/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: bangers;
    src: url(../fonts/Bangers-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: garamond1;
    src: url(../fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: didot;
    src: url(../fonts/GFSDidot-Regular.ttf);
}

@font-face {
    font-family: kaushan;
    src: url(../fonts/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: righteous;
    src: url(../fonts/Righteous-Regular.ttf);
}

@font-face {
    font-family: yeseva;
    src: url(../fonts/YesevaOne-Regular.ttf);
}

.gradient {
    background: linear-gradient(-45deg, #68e4fc,#a5acfa,#f0e4ff, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

input::placeholder{
    color: rgb(148, 152, 156);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
